# Pandas Series.

### What is a Series? 
A Pandas Series is like a column in a table. 
It is a one-dimensional array holding data of any type.

In [2]:
# Create a simple Pandas Series from a list:
import pandas as pd
a = [1, 7, 2, 4]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
3    4
dtype: int64

In [5]:
# Return the first value of the Series:
print(myvar[0])

1

In [6]:
a = [2, 4, 6, 8, 10]
myvar = pd.Series(a)
print(myvar)
print()
print(myvar[0])

0     2
1     4
2     6
3     8
4    10
dtype: int64

2

In [7]:
print(a[0])

2

## Create Labels
### With the index argument, you can name your own labels.

In [8]:
a = [1, 7, "zoo", 3]
myvar = pd.Series(a, index = ["x", "y", "z", "a"])
print(myvar)

x      1
y      7
z    zoo
a      3
dtype: object

In [11]:
print(myvar["x"])    # element can access with label
print(myvar["y"])
print(myvar["z"])
print(myvar["a"])

1
7
zoo
3

In [12]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [13]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [14]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [15]:
Cars = ["Lamboginni", "Farrari", "Audi", "BMW"] 
r = pd.Series(Cars) 
print(r)

0    Lamboginni
1       Farrari
2          Audi
3           BMW
dtype: object

In [16]:
print(r[0])
print(r[2])

Lamboginni
Audi

In [17]:
car = {1 : "Audi", 2 : "Lambo", 3 :  "RR"}

op = pd.Series(car, index = [1, 3])
print(op)

1    Audi
3      RR
dtype: object